{% load static %}

<!DOCTYPE html>
<html lang = "en">
	<head>
  	<!-- Required meta tags -->
  	<meta charset = "utf-8"/>
  	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
			<!-- App icons -->
			<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAJnL0AD/ztAAAAAAARy/UAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIiIiIiIiIiIiIiIiIAAiIiIiIiIABCIiIiIgAAFEIiIiIAABERIiIiAABEEREiIgABFEQURCIgABERERRCIiAzFEQRFCIiIjM0RBERIiIiIzNEERIiIiIiMxFEIiIiIiIjMUIiIiIiIiIzIiIiIiIiIiMiIiIiIiIiIiIiIiL/8QAA/8AAAP4AAAD4AAAA4AAAAIABAAAAAQAAAAMAAAADAAAABwAAgAcAAMAPAADgHwAA8D8AAPh/AAD8/wAA" rel="icon" type="image/x-icon" />
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  		<!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>

			<!-- App's Javascript -->
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
			<script src="{% static 'orders/scripts.js' %}"></script>

      <title>{% block title %}{% endblock %}</title>
	</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pinnochio's Pizza</a>
        <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/order"><i class="far fa-money-bill-alt"></i> Order</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
										{% if request.user.is_staff %}
										<li class="nav-item"><a class="nav-link" href="/placed"><i class="fas fa-list"></i> Placed Orders</a></li>
										{% endif %}
                </ul>
								{% if request.user.is_authenticated %}
                <ul class="navbar-nav mr-0 mt-2">
                  <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
								{% endif %}
        </div>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>
