{% extends "orders/base.html" %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="container">
  <h3>All Items In Your Cart</h3>
  <div class="cart_box">
    {% if items %}
    <legend><a href="/order"><span class="badge badge-primary badge-pill" id="badge_hover">Add more items</span></a></legend>
    {% else %}
    <legend><a href="/order"><span class="badge badge-primary badge-pill" id="badge_hover">Add items</span></a></legend>
    {% endif %}
    {% for item in items %}
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item.type }}: {{ item.items }}
        <span class="badge badge-primary badge-pill">${{ item.price }}</span>
      </li>
      {% empty %}
      <li class="list-group-item d-flex justify-content-between align-items-center">Nothing in your cart yet</li>
    </ul>
    {% endfor %}
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Subtotal:</strong>
        {% if subtotal %}
        <span class="badge badge-success badge-pill">${{ subtotal }}</span>
        {% else %}
        <span class="badge badge-success badge-pill">$0.00</span>
        {% endif %}
      </li>
    </ul>
    <form method="POST" action="{% url 'cart' %}">
      {% if items %}
      {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm Order</button>
      {% endif %}
    </form>
  </div>
</div>

 {% endblock %}
