{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="jumbotron">
      <h1 class="display-3">A little backstory</h1>
      <p class="lead">I used the Nasa API to make this site</p>
      <p class="lead">It was a challenge to work with a new API especially since the documentation is outdated</p>
      <p class="lead">However, I feel like working on the previous psets prepared me very well for this task </p>
      <p class="lead">It didn't quite turn out like I had hoped since I still lack the expertise to make my vision a reality<br>
            but, I'm still proud of it since It's my first solo project</p>
      <hr class="my-4">
      <p>Completed 22-Aug-2018</p>
    </div>
{% endblock %}