{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <p>An adventure in Astronomy</p>
    </div>
    <div>
        <table class="table table-hover">
            <tr class="table-light">
                <th>Name</th>
                <th>Diameter(km)</th> 
                <th>Mass(kg)</th>
                <th>Satellites</th>
            </tr>
            <tr class="table-secondary">
                <td>Mercury</td>
                <td>4879.4</td> 
                <td>3.302×10^23</td>
                <td>0</td>
            </tr>
            <tr class="table-light">
                <td>Venus</td>
                <td>12103.6</td> 
                <td>4.869×10^24	</td>
                <td>0</td>
            </tr>
            <tr class="table-secondary">
                <td>Earth</td>
                <td>12756.3</td> 
                <td>5.974×10^24</td>
                <td>1</td>
            </tr>
            <tr class="table-light">
                <td>Mars</td>
                <td>6794.4</td> 
                <td>6.419×10^23</td>
                <td>2</td>
            </tr>
            <tr class="table-secondary">
                <td>Jupiter</td>
                <td>142984</td> 
                <td>1.899×10^27</td>
                <td>63</td>
            </tr>
            <tr class="table-light">
                <td>Saturn</td>
                <td>120536</td> 
                <td>5.688×10^26</td>
                <td>64</td>
            </tr>
            <tr class="table-secondary">
                <td>Uranus</td>
                <td>51118</td> 
                <td>8.683×10^25</td>
                <td>27</td>
            </tr>
            <tr class="table-light">
                <td>Neptune</td>
                <td>49572</td> 
                <td>1.024×10^26</td>
                <td>14</td>
            </tr>
    </div>
    <div>
        <blockquote class="blockquote text-center">
          <p class="mb-0">It may be that our cosmic curiosity... is a genetically-encoded force that we illuminate when we look up and wonder.</p>
          <footer class="blockquote-footer">Neil deGrasse Tyson</cite></footer>
        </blockquote>
    </div>
{% endblock %}