{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="ISBN, Author or Book Title" type="text"/>
            <small id="emailHelp" class="form-text text-muted">Search is case sensitive, please capitalise appropriately</small>
        </div>
        <button class="btn btn-outline-secondary btn-lg" type="submit">Search</button>
    </form>
{% endblock %}
