{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
  <center>
    <h1>Results: </h1><br>
    {% if result_list|length > 0 %}
      {% for row in result_list %}
          <h1><a href="/book/{{ row[3] }}"><i>{{ row[1] }}</i> - {{ row[2] }} ({{ row[4] }})</a></h1>
          <h5>ISBN: {{ row[0] }}</h5>
        <hr>
      {% endfor %}
    {% else %}
      <i><h1>None.</h1>
      <h5>Please note that search is case-sensitive. Please ensure everything is capitalised properly</h5></i>
    {% endif %}
  </center>
{% endblock %}
